html, body, nav, ul {
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul > li {
    display: inline;
    border: 2px solid black;
    float: left;
    padding: 10px 101px;
    background-color: black;
    transition: all 1s ease-out;
}
a {
    text-decoration: none;
    color: white;
}
li:hover {
    background-color: grey;
}