html, body, nav, ul {
    margin: 0;
}
body > nav {
    margin: 0;
    width: 100%;
}
body > nav > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
body > nav > ul > li {
    display : flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    width: 100%;
    height: 40px;
    transition: all 1s ease-out;
}
li:hover {
    background-color: grey;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}