extends layout

block content
  h1= title
  p Welcome to #{title}
  nav
    ul
      li
        a(href="test") Osef
      li
        a(href="test") Ajout
      li
        a(href="test") D'une
      li
        a(href="test") Nav
