<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Instance Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(value, key) in profs">
                    {{ key }} : 
                    <ul v-for="(value, key) in value">
                        <li>{{ value }}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="script.js"></script>
    </body>
</html>