.progress_bar {
    background-color: black;
    height: 20%;
    width: 95%;
}
div {
    display: inline-block;
    height: 20%;
    width: 0;
    animation: progress 2s linear 0s infinite;
}
@keyframes progress{
    0% { width: 0; background-color: white; }
    20% { width: 20%; background-color: red; }
    40% { width: 40%; background-color: orange; }
    60% { width: 60%; background-color: yellow; }
    80% { width: 80%; background-color: green; }
    100% { width: 100%; background-color: greenyellow; }
} 