body {
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
}
/* On stylise un peu les boutons vite fais */
button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: blueviolet;
}
/* On cache le paragraphe */
p {
    display: none;
    color : white;
}